html, body {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 1em;
    display: flex;
    text-align: center;
    align-items: center;
    background-image: url(https://image.winudf.com/v2/image/Y29tLnJldHJvZ2FtZXMuc25ha2Vfc2NyZWVuXzJfZXJrNHUzajg/screen-2.webp?fakeurl=1&type=.webp);
    background-size: 100%;
    min-width: 500px;
}

h1, h2 {
    font-family: 'Press Start 2P', 'Courier New', Courier, monospace;
    color: yellow;
}

canvas {
    /* background-color: rgb(233, 240, 233); */
    width: 850px;
    height: 550px;
    background-image: url(./img/canvasbackground.jpeg);
    background-position: center;
    background-size: cover;
}

#container {
    min-width: 50em;
    margin: 0 auto;
    padding: 1em;
    display: grid;
    grid-gap: 1em;
    grid-template-rows: .25fr .5fr .25fr;
    grid-template-columns: .25fr .5fr .25fr;
    grid-template-areas: "top-left top-left top-right"
                         "game game game"
                         "btm-left btm-right btm-right";
}

#top-left, #top-right, #btm-left, #btm-right {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', 'Courier New', Courier, monospace;
    color: yellow;
}

main {
    grid-area: game;
    font-size: 25px;
}

#top-left {
    grid-area: top-left;
    font-size: 25px;
}

#top-right {
    grid-area: top-right;
    font-weight: bolder;
    font-size: 25px;

}

#btm-left {
    grid-area: btm-left;
    font-size: 25px;

}

#btm-right {
    grid-area: btm-right;
    font-size: 25px;
   

}
.info {
    position: absolute;
    background-color: rgba(65, 63, 63, 0.815);
    color: yellow;
    width: 400px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    border-radius: 30px;
    text-align: center;
    display: none;

}

#playBtn {
    width: 150px;
    height: 30px;
    position: absolute;
    margin: 15px -75px -15px 75px;
    bottom: 10%;
    right: 50%;

    color: #5fc9b8;
    background-color: #1b1333;
    font-family: 'Press Start 2p', monospace;
    display: none;
}

#youDie {
    width: 800px;
    height: 300px;
    position: absolute;
    margin: 150px -400px -150px 400px;
    bottom: 50%;
    right: 50%;
    display: inline-block;
    font-size: 60px;
    color: black;
    line-height: 30px;
    display: none;
    
}

#restartBtn {
    width: 150px;
    height: 30px;
    position: absolute;
    margin: 15px -75px -15px 75px;
    bottom: 10%;
    right: 50%;

    color: #5fc9b8;
    background-color: #1b1333;
    font-family: 'Press Start 2p', monospace;
    display: none;
}
#canvas-background{
    display: none;
}